<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/061812e5-2eb1-4d6d-a492-d9d4881b86ea/resourcegroups/DhruvGroup/providers/Microsoft.Web/sites/DhruvHostedWeb</ResourceId>
    <ResourceGroup>DhruvGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dhruvhostedweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>d256ab8f-9f7a-403b-95ad-ab41c446da44</ProjectGuid>
    <PublishUrl>https://dhruvhostedweb.scm.azurewebsites.net/</PublishUrl>
    <UserName>$DhruvHostedWeb</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>